/* Box Model Hack */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: white;
}

/******************************************
/* LAYOUT - Header
/*******************************************/

header li a:hover {
  color: orange;
  text-decoration: underline;
}

header {
  background: rgb(55,51,49);
  color: white;
}

@media screen and (max-width: 700px) {
  .fullScreen, #menu {
    display: none;
  }

  header {
    overflow: auto;
    list-style: none;
    position: fixed;
    width: 100%;
    border: 1px solid grey;
    z-index: 5;
  }

  .mobileNav {
    display: none;
  }
  
  input:checked + .mobileNav {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1%;
    border-top: 1px solid grey;
  }

  header form {
    width: 100%;
    float: left;
  }

  .mobileNav a:hover {
    color: orange;
  }

  header > a {
    position: fixed;
    font-size: 3rem;
    left: 40%;
  }

  header label {
    font-size: 3rem;
    margin-left: 20px;
  }
  
  header nav li {
    text-align: center;
    margin-top: 1%;
  }

  .logo {
    margin-top: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 180px;
  }
}

@media screen and (min-width: 700px) and (max-width: 9000px) {
  div {
    width: 33.33%;
  }

  .mobile {
    display:none;
  }

  header div {
    float: left;
    font-size: 1.3rem;
  }

  .leftOfLogo, .rightOfLogo {
    margin-top: 1%;
  }

  .rightOfLogo {
    float: right;
  }

  header {
    height: 200px;
  }

  .logo {
    object-fit: contain;
  }

  .logo img {
    width: 300px;
    margin-left: 15%;
  }

  nav li {
    margin-bottom: 2%;
    text-align: center;
  }

  .booking{
    position: absolute;
    margin-left: auto;
  }

}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  header {
    height: 200px;
  }

  .mobile {
    display: none;
  }

  .leftOfLogo, .rightOfLogo {
    margin-top: 3%;
  }
}
/******************************************
/* LAYOUT - Filler Div
/*******************************************/

header + div {
  height: 56px;
  content: "";
}

/******************************************
/* LAYOUT - Main
/*******************************************/
main {
  background-image: url("../img/vintage-wooden-table-with-beard-shaping-salon-tools_freepik.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  padding-right: 0;
  color: white;
}

h1 {
  margin: 0;
}

main > span {
  font-weight: bold;
}

main p {
  margin: 1% 0 6% 0;
}

main > section {
  font-size: 1.2rem;
  background-color: black;
  width: 50%;
  padding: 2%;
}

main a + a {
  margin-top: 8%;
  display: block;
  border-left: 2px solid white;
  padding-left: 2%;
  width: 50%
}

@media screen and (max-width: 700px) {
  main {
    background-position: center -30px;
    padding-left: 5%;
    padding-top: 10%;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  main p {
    letter-spacing: 1px;
    font-size: 1rem;
  }
  
  main > span {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10%;
  }
  
  main b {
    display: inline;
    font-size: 3rem;
  }
}

@media (min-width: 700px) and (max-width: 9000px) {
  main {
    background-position: center -150px;
    min-height: 1600px;
    padding-left: 15%;
    padding-top: 25%;
  }
  
  h1 {
    font-size: 7rem;
  }
  
  main p {
    letter-spacing: 4px;
    font-size: 1.5rem;
  }
  
  main > span {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
  
  main > section {
    width: 22%;
  }
  
  main section * {
    display: block;
    margin-bottom: 15%;
  }
  
  main a + a {
    width: 22%;
  }
  
  main b {
    display: inline;
    font-size: 3rem;
  }
}

@media  (min-width: 700px) and (max-width: 1100px) {
  main > h1 {
    font-size: 5rem;
    margin: 0;
  }

  main .promoBox {
    width: 32%;
  }

  main {
    padding-top: 40%;
  }
}

/******************************************
/* LAYOUT - Section 1 Service Overview
/*******************************************/

@media screen and (max-width: 700px) {
  main + section {
    height: 1700px;
  }
  
  main + section article {
    display: block;
    text-align: center;
    margin: 15% 6.25%;
    padding: 2% 4%;
    border-top: 1px solid grey;
  } 
  
  main + section h3 + p {
    font-weight: 100;
  }
  
  main + section img {
    object-fit: cover;
    width: 50%;
  }
}

@media (min-width: 700px) and (max-width: 9000px) {
  main + section {
    min-height: 500px;
    overflow: auto;
  }
  
  main + section article {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    margin-left: 6.25%;
    padding: 0 4%;
  } 
  
  main + section h3 + p {
    font-weight: 100;
  }
  
  main + section img {
    object-fit: contain;
    height: 200px;
  }
}

/******************************************
/* LAYOUT - Section 2 Promo Video
/*******************************************/

@media screen and (max-width: 700px) {
  .momentum {
    background: rgb(243 244 246);
    height: 900px;
    padding: 5% 10%;
    font-size: 1.5rem;
    text-align: center;
  }
  .momentum * {
    margin-bottom: 10%;
  }

  .momentum video {
    width: 100%;
  }
}

@media (min-width: 700px) and (max-width: 9000px) {
  .momentum {
    background: rgb(243 244 246);
    min-height: 300px;
    overflow: auto;
    padding: 5% 15%;
    font-size: 1.5rem;
  }
  
  .momentum video {
    max-width: 100%;
  } 
  
  .momentum section {
    float: left;
    max-width: 50%;
  }
  
  .momentum section * {
    margin-bottom: 10%;
    
  }
}


/******************************************
/* LAYOUT - Section 3 Employee Highlight
/*******************************************/
@media screen and (max-width: 700px) {
  .beauticians{
    overflow: auto;
    min-height: 300px;
    text-align: center;
    padding: 5% 15%;
  }
  
  img {
   max-width: 100%;
  }
  
  .beauticians div {
    background-color: black;
    color: white;
    padding: 1%;
    width: 80%;
    margin-left: 10%;
    position: relative;
    bottom: 30px;
  
  }
  
  div span, div h5 {
    font-size: 1.3rem;
    margin: 0;
  }
}

@media (min-width: 700px) and (max-width: 9000px) {
  .beauticians{
    overflow: auto;
    min-height: 300px;
    text-align: center;
    padding: 5% 6%;
  }
  
  .beauticians section {
    float: left;
    width: 25%;
    margin-left: 3%
  }
  
  img {
   max-width: 100%;
  }
  
  .beauticians section:first-child {
    margin-left: 8%;
  }
  
  .beauticians div {
    background-color: black;
    color: white;
    padding: 1%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    bottom: 30px;
  
  }
  
  div span, div h5 {
    font-size: 1.3rem;
    margin: 0;
  }
}


/******************************************
/* LAYOUT - Section 4 advertspace
/*******************************************/
.advertSpace a {
  background-color: black;
  color: white;
  padding: 3px;
}

@media screen and (max-width: 700px) {
  .advertSpace {
    min-height: 200px;
    margin: 10% 0;
  }
  
  .advertSpace section {
    background: rgb(240 240 240);
    background-image: none;
    padding: 5% 6%;
    font-size: 1rem;
    text-align: center;
  }
  .advertSpace p {
    font-size: 1.5rem;
  }

  
}

@media (min-width: 700px) and (max-width: 9000px) {
  .advertSpace {
    min-height: 400px;
    margin: 3% 0 7% 0;
    padding: 0 10%;
  }
  
  .advertSpace section {
    background: rgb(240 240 240);
    min-height: 600px;
    background-image: url("../img/4895404.jpg");
    background-repeat: no-repeat;
    background-position: right 15%;
    background-size: contain;
    padding-left: 6%;
    padding-top: 10%;
    font-size: 2rem;
  }
  
  .advertSpace p {
    font-size: 3rem;
    width: 500px;
  }

  .advertSpace p, .advertSpace span {
    background-color: black;
    color: white;
  }
}

/******************************************
/* LAYOUT - Section 5 Image gallery
/*******************************************/
@media screen and (max-width: 700px) {
  .imageGallery {
    padding: 0 1%;
  }
  
  .imageGallery span {
    display: block;
    width: 100%;
    margin-bottom: 12%;
    text-align: center;
    font-size: 3rem;
  }
}

@media (min-width: 700px) and (max-width: 9000px) {
  .imageGallery {
    padding: 0 10%;
    height: 1000px;
  }
  
  .imageGallery span {
    display: block;
    width: 100%;
    margin-bottom: 2.5%;
    text-align: center;
    font-size: 3rem;
  }
}


/******************************************
/* Carousel
/*******************************************/

.carouselContainer {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 900px;
  z-index: 0;
}

.carouselTrackContainer {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 10%;
  margin: 0;
  width: 80%;
  height: 90%;
  position: absolute;
}

.carouselTrack {
  top: 0;
  left: 6%;
  list-style-type: none;
}

.carouselSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  background-color: transparent;
}

.carouselButton {
  z-index: 3;
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
  left: 3.5%;
  background-color: transparent;
  cursor: pointer;
}

.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carouselButton:active {
  box-shadow: 5px 4px 2px 3px rgba(0, 0, 0, 0.24);
}

.fwd {
  left: 92%;
}

.carouselNav {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  top: 87%;
  width: 60%;
}

.carouselNavList {
  list-style-type: circle;
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
}

.carouselNavList li {
  font-size: 2rem;
  cursor: pointer;
}

.navSelected {
  list-style-type: disc;
}

@media screen and (max-width: 700px) {
  .carouselContainer {
    height: 400px;
  }

  img {
    width: 100%;
    height: 100%; 
    background-color: transparent;
  }
}